body, select, input, button {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f2f2f2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #daa520;
    color: white;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation .nav-link {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}

@media screen and (max-width: 600px) {
    .navigation .nav-link {
        padding: 0 5px;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }
}

#userDisplay {
    color: black;
}

.search-bar {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #dfdfdf;
    width: 80%;
}

.input-group {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.price-inputs {
    display: flex;
    gap: 10px;
}

.price-inputs input[type="text"] {
    flex: 1;
}

.price-range-group, .type-select {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.price-inputs input[type="text"], .type-select select {
    flex: 1;
    margin-top: 5px;
}

.label-small {
    font-size: 0.8em;
    align-self: start;
}

.input-group > button {
    flex-grow: 0;
    margin-left: 10px;
}

input[type="text"], select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
}

input[type="text"]:focus, select:focus {
    outline: none;
    border-color: #5cb85c;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #449d44;
}

.search-btn {
    padding: 10px 20px;
    align-self: end;
    margin-left: auto;
}

.listing-container {
    flex-grow: 1;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
}

.listing {
    width: 80%;
    background-color: white;
    border: 1px solid #ddd;
    padding: 35px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.apartment-name {
    font-weight: bold;
    color: #333;
}

.apartment-price {
    color: green;
}

.apartment-type {
    color: blue;
}

.apartment-address {
    color: #666;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #daa520;
    color: white;
    position: sticky;
    bottom: 0;
}
